.max-width {
    max-width: 960px;
    margin: 0 auto;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.text-align-center {
    text-align: center;
}

.deep-sky-blue-color {
    color: #00D9FF;
}

.cursor-pointer {
    cursor: pointer;
}